.start_title_div{
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top:5%;
}

.start_title{
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top:5%;
}

.start_button{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* margin-right: 50%;
    margin-left:50%; */
    margin-bottom:5%
    /* margin:0 auto; */
}
